.todo-app {
    // text-align: center;
    // max-width: max-content;
    margin: 0 auto;
    .app-head {
        background-color: $blue;
        color: $white;
        padding: 0.5em $padding;
        margin-block-end: rem(10px);
        .app-title {
            text-transform: uppercase;
        }
    }
}
